{% extends "layout.html" %}
{% block body %}
   <form action="{{ url_for('search_results') }}" method=GET class=search-form>
   <dl>
   <dt>Search string:
   <dd><input type=text size=20 name=expr>
   <dt>
   <dd><input type=submit value=Search>
   </dl>
   <br>Try e.g. <b>vidar</b> or a substring (e.g. <b>ida</b>) or <b>98.111.210.142</b> or <b>00006ac3665e1f3c5ab7e53051b3c68bcbfc509e</b> or <b>$some_fingerprint</b>.
   <br><br>I presently hold {{ total }} descriptor entries.
   <br>(Note that as of now, only a small part of the overall descriptor archives has been imported.)
{% endblock %}
